<!DOCTYPE html>
<html>

<head>
  <title>Quickstart for MSAL JS</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
  <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.js"></script>
</head>

<body>
  <div class="container">
    <div class="leftContainer">
      <p id="RequestMessage">¿Cuántas cajas desea?</p>
    <div> <input id="boxNumber" placeholder="Number of boxes"/> 
        <button type="submit">Pedir</button>
    </div>
    
    </div>
  </div>
</body>
</html>