<!DOCTYPE html>
<html lang="eng">

<head>
  <title>Quickstart for MSAL JS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="leftContainer">
      <p id="RequestMessage">¿Cuántas cajas deseas?</p>
      <div> <input id="boxNumber" placeholder="Number of boxes" />
        <button type="submit" onclick="checkItems()">Pedir</button>
      </div>
    </div>
    <div>
      <table id="itemstable" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>

      </table>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>

    $(document).ready(function () {
      $.ajax({
        method: 'GET',
        url: 'https://control-tendencias.azurewebsites.net/pedidos/count',
        async: true,
        headers: {
          "Access-Control-Allow-Origin": "*"
        }
      }).done(function (rows) {
        var html = '';
        rows.forEach(row => {
          html += `<tbody><tr>`
            + `<th scope="row">${row['id']}</th>`
            + `<td>${row['name']}</td>`
            + `<td>${row['stock']}</td>`
            + `</tr></tbody>`;
        });
        $('#itemstable').append(html);
      }).fail(function (err) {
        console.log(err);
      });
    });
    function checkItems() {
      const boxNum = document.getElementById('boxNumber')
    }
  </script>
</body>

</html>